.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F5D5FF;
  color: #6B078E;
  padding: 4%;
  cursor: pointer;
  position: fixed;
  font-size: large;
  z-index: 100;
  opacity: 0.9;
  @media screen and (min-width: 768px) {
    font-size: x-large;
    padding: 20px;
  }
}

.header_link {
  text-decoration: none;
}

.header_link__active {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #33ffff, #FF3333);
}