.home {
  display: flex;
  height: calc(100vh - 100px);
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6B078E;
  text-align: center;
  h1 {
    .second {
      font-size: 2rem;
      @media screen and (min-width: 768px) {
        font-size: 3rem;
      }
    }
    .third {
      font-size: 2rem;
      @media screen and (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
}

.home_hi {
  font-size: 4rem;
  color: white;
  animation: home_hi 2s ease-in forwards;
  &.first {animation-delay: 0s;}
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

.home_span {
  color: white;
  animation: home_span 2s ease-in forwards;
  &.second {animation-delay: 0.2s;}
  &.third {animation-delay: 0.4s;}
  @keyframes home_span {
    50% {
      color: #F5D5FF;
    }
    100% {
      color: #6B078E;
    }
  }
}

.fourth {
  animation-delay: 0.6s;
}

@keyframes home_hi {
  50% {
    color: #F5D5FF;
  }
  100% {
    color: #6B078E;
  }
}

.image-container_img {
  height: auto;
  animation: img 2s ease-in forwards;
  opacity: 0;
}

@keyframes img {
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}