.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
  }
}

.projects_avatar {
  border-radius: 30px;
  width: 90px;
  height: auto;
  padding-bottom: 6%;
  @media screen and (min-width: 768px) {
    width: 120px;
  }
}

.projects_title {
  font-size: 2rem;
  text-align: center;
  color: #6b078e;
  padding: 10% 0 3%;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
    padding: 8% 0 3%;
  }
}

.projects_container {
  flex-direction: column;
}
